*{  color: #fff;
    padding: 0%;
    margin: 0%;
    font-family: 'Akshar', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
box-sizing: border-box;
scroll-behavior: smooth;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: aliceblue;
}
header{
    background-color: #0000008f;
    position: fixed;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
#logo{
    color: #f9004d;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color:#fff ;
    font-weight: 600;
    font-size: 1.1em;
    padding-left: 1em;
}
.navigation a:hover{
    color: #cf2b5fd7;
}
section{
    padding: 200px 200px;
}
.main{
    width: 100%;
    justify-content: center;
    min-height: 100vh;
    background-image: url(media/4683.jpg) ;
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    background-position:center ;
}
.name{
    font-size: 3em;
    color: #f9004d;
}
.social-media{
    padding: 20px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.fb i:hover{
    color: rgb(26, 115, 232,1);
}
.li i:hover{
    color: #0a66c2;
}
a .proj-btt{
    background-color: #f9004d;
    padding: 10px 10px;
}
section h2 span{
    margin-top: 10px;
    display: inline-block;
}
.main h3{
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 10px;
}
.proj-btt{
    display: inline-block;
    background-color: #f9004d;
    font-size: 1.1em;
    font-weight: 700;
    padding: 1em 2em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.9s ease-in-out;
}
.proj-btt:hover{
    background-color: #a60538;
    transform: scale(1.2);
}
.links{
    font-size: 1.7em;
}
.pro{
    display: inline-block;
    background-color: #f9004d;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0.5em 1em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 0.9s ease-in-out;
}